<% extend("_base/layout") %>

<section class="results">
	<h1><%= meta.Titel %></h1>
	<ul class="results-list">
		<% objects.map(object => { %>
			<li data-id="<%= object.Id %>">
			<img src="<%= object.FotoLarge %>" alt="<%= object.Adres %>">
			<a href="/details/<%= object.Id %>/<%= object.Koopprijs ? 'koop' : 'huur' %>"><h2><%= object.Adres %></h2></a>
			<span><strong>€
				<%= object.Koopprijs ? object.Koopprijs.toLocaleString('currency') : '' %>
				<%= object.Huurprijs ? object.Huurprijs.toLocaleString('currency') + ' p/m' : '' %>
			</strong></span>
			<% if (object.Woonoppervlakte) { %>
				<span><%= object.Woonoppervlakte %> m<sup>2</sup></span>
			<% } %>
			</li>
		<%  }); %>
	</ul>
</section>